<section class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-flex uk-flex-center uk-margin-small-top">
      <div class="uk-flex uk-flex-center uk-flex-column uk-width-1-4">

        <div class="uk-flex uk-flex-center">
          <div class="">
            <img src="/images/IH_BLUE-LOGO_600x600.png" alt="" width="260" height="260">
          </div>
        </div>


        <!--se revisa que en la consola de navergador apunte la ruta correctamente-->
        <form {{#if action}} action="/auth/login" {{else}} action="/auth/register" {{/if}} class="uk-text-center"
          method="POST">


          <h2 class=" uk-flex uk-flex-center">
            {{#if action}}

            {{else}}
            {{/if}}
          </h2>


          {{#unless action}}
          <div class="uk-margin">
            <div class="uk-inline">
              <span class="uk-form-icon" uk-icon="icon: user"></span>
              <input name="name" class="uk-input uk-border-rounded uk-box-shadow-small" type="text"
                placeholder="Enter your name">
            </div>
          </div>
          {{/unless}}

          <div class="uk-margin">
            <div class="uk-inline">
              <span class="uk-form-icon" uk-icon="icon: mail"></span>
              <input name="email" class="uk-input uk-border-rounded uk-box-shadow-small" type="email"
                placeholder="example@example.com">
            </div>
          </div>

          <div class="uk-margin">
            <div class="uk-inline">
              <span class="uk-form-icon" uk-icon="icon: lock"></span>
              <input name="password" class="uk-input uk-border-rounded uk-box-shadow-small" type="password"
                placeholder="Enter your password">
            </div>
          </div>

          {{#if err.message}}
          <div class="uk-alert-danger uk-flex uk-flex-center" uk-alert>
            <p>{{err.message}}</p>
          </div>
          {{/if}}

          <button class="uk-width-2-3 uk-button uk-button-secondary uk-border-rounded uk-box-shadow-small">
            {{#if action}}
            {{action}}
            {{else}}
            Register
            {{/if}}
          </button>

        </form>


      </div>
    </div>

  </div>
</section>